@font-face {
    font-family: "Segoe UI Regular";
    font-weight: 200;	
	src: url('../fonts/Segoe_UI/segoeui.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Segoe_UI/segoeui.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('../fonts/Segoe_UI/segoeui.woff') format('woff'), /* Modern Browsers */
		url('../fonts/Segoe_UI/segoeui.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Segoe_UI/segoeui.otf')  format('opentype'),
		url('../fonts/Segoe_UI/segoeui.svg#svgFontName') format('svg'); /* Legacy iOS */	
}

@font-face {
    font-family: "Segoe UI Bold";
    font-weight: 200;
    src: url('../fonts/Segoe_UI/seguisb.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Segoe_UI/seguisb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Segoe_UI/seguisb.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Segoe_UI/seguisb.ttf')  format('truetype'), /* Safari, Android, iOS */
	   url('../fonts/Segoe_UI/seguisb.otf')  format('opentype'),
       url('../fonts/Segoe_UI/seguisb.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body, #connect .section-title{font-family:Segoe UI Regular,arial,sans-serif;}
.plan-cost strong, .section-title, .card-body a.text-uppercase, .footer h6, .banner-content a.btn{font-family:Segoe UI Bold,arial,sans-serif;}
.img-fluid.logo-img{max-height:80px;}
.top-banner{position:relative;}
.top-banner .img-fluid.background-image{width:100%;height:auto;}
.banner-content a.btn{font-size:20px;}
.top-banner .menu-header{position:fixed;background-color:rgba(208, 27, 34, 0.8);padding-bottom:10px;z-index:99;}
.main-nav .nav-item a{border:1px solid transparent;}
.main-nav .nav-item.active a, .main-nav .nav-item:hover a{color:#fff !important;border: 1px solid #fff;}
.languages{ -webkit-appearance: none;  -moz-appearance: none; appearance: none;}
.banner-content{position:absolute;top:50%;left:0%;width:100%;}
#srch-top:focus, .btn-top-search:focus{box-shadow:inherit;}
input#srch-top::-webkit-input-placeholder{color:#fff !important;}
input#srch-top::-moz-placeholder{color:#fff !important;}
input#srch-top:-moz-placeholder{/*Older versions of Firefox*/ color:#fff !important;}
input#srch-top:-ms-input-placeholder{color:#fff !important;}
.bg-gray{background-color:#ebeff2;}
.bg-white{background-color:#fff;}
.bg-blue{background-color:#0f91c3;}
.bg-red{background-color:#e83628;}
.bg-black{background-color:#2d2d2d;}
#plans .card:hover{box-shadow:0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);border-radius:5px;}
.plan-title, .plan-title span{height:40px;line-height:36px;}
.plan-title span{color:#fff;font-size:26px;display:inline-block;border-radius:2px;padding:0px;width:175px;text-align:center;position:relative;border-bottom-left-radius:0;}
.card.basic .plan-title span{background-color:#ef5555;}
.card .plan-title span pre.tri-icon:before{content:"";width:0;height:0;right:100%;top:40px;position:absolute;border-left:0px solid transparent;border-top:10px solid transparent;left:0px;
-webkit-transform: rotate(-180deg);
-moz-transform: rotate(-180deg);
-ms-transform: rotate(-180deg);
-o-transform: rotate(-180deg);
transform: rotate(-180deg);
}
.card.pre .plan-title span{background-color:#11a8df;}
.card.pre-plus .plan-title span{background-color:#c0b503;}
.card.basic .plan-title span pre.tri-icon:before{border-right:10px solid #ef5555;}
.card.pre .plan-title span pre.tri-icon:before{border-right:10px solid #11a8df;}
.card.pre-plus .plan-title span pre.tri-icon:before{border-right:10px solid #c0b503;}
.section-title{font-size:28px;font-weight:500;}
.img-box{position:relative;}
.img-box img{border-radius:3px;}
.img-box .view-icon{position:absolute;width:100%;height:100%;top:0;left:0;bottom:0;right:0;background-color:rgba(0, 0, 0, 0.7);display:none;border-radius:3px;}
.img-box .view-icon a{width:30px;height:30px;display:block;text-align:center;background-color:#dc3545;color:#fff;border-radius:20px;line-height:28px;margin:35% auto;}
.img-box:hover .view-icon{display:block;}
.tableDisplay{display:table;}
.tableCell{display:table-cell;}
.service-icon i{font-size:50px;vertical-align:middle;margin-right:15px;}
#services .tableDisplay:hover .service-icon.tableCell{color:#eb3623;}
.service-icon.tableCell{vertical-align:top;}
.card.pre-plus .fa.fa-plus{font-size:20px;font-weight:500;}
.br-25{border-radius:25px;}
.social-icons .btn.btn-social-icon{width:30px;height:30px;line-height:26px;margin-right:5px;}
#footer{background-color:#2d2d2d;}
.copyright-footer{background-color:#1f1f1f;}
.footer li .text-white:hover{text-decoration:none;color: #e83628 !important;}
.fs-35{font-size:35px;}
.fs-25{font-size:25px;}
.fs-20{font-size:20px;}
.footer h6{font-size:18px;}
form.subscription{position:relative;max-width:500px;margin-left:auto;margin-right:auto;}
form.subscription .btn{position:absolute;right:0;top:0;border-bottom-left-radius:0;border-top-left-radius:0;}
.noresize{resize:none;}
.section-title mark{padding:0;background-color:transparent;color:#e83628;}
.block-normal{display:block;} 
.hide-normal{display:none;}
#btnScrollTop{width:50px;height:50px;color:#0f91c3;font-weight:bold;text-align:center;border-radius:36px;line-height:50px;font-size:30px;position:fixed;right:5px;bottom:30px;cursor:pointer;display:none;}
#btnScrollTop .fa{font-size:40px;}
select option{background-color:#fff;color:#000;}
.contactus .form-control{border-radius: .20rem;}
.fb:hover{background-color:#3c5a99;}
.tw:hover{background-color:#1da1f2;}
.pin:hover{background-color:#bd081b;}
.yt:hover{background-color:#ff0000;}
.about-text {top: 35%;text-align: center;}
.about-text h1 {font-size: 200%;font-weight: bold;font-style: italic;text-shadow: 1px 1px 5px #D31;}
.about-text i {font-size: 120%;font-weight: 600;text-shadow: 1px 1px 3px #ccc;}
#info-slider .carousel-item img{width:100%;height:auto;}
.slogan ul{list-style:none;}
.carousel-caption{bottom:30%; background:rgba(0, 0, 0, 0.5); border-radius:10px;}
.slogan { font-size: 200%; }

@media (max-width:1192px){
	.nav-link.text-white.pl-3.pr-3{padding-left: 0.5rem !important;padding-right: 0.5rem !important;}	
}

@media (min-width:992px) and (max-width:1230px){
	form.navbar-form.right-nav{max-width:200px;}
	.menubar, .menubar .navbar{padding-left:0;}
}

@media(max-width:991px){
	.container {max-width: 94%;}
	 .block-responsive{display:block;} 
	 .hide-responsive{display:none;}
	 .menubar{flex:100%;max-width:100%;}
	 .navbar-brand.block-responsive.hide-normal .img-fluid {height: 60px;width: auto;}
	 .banner-content {position: static;background-image: url(../images/top-banner.jpg);padding-bottom: 20px;padding-top:100px;}
	 .other-menu a {padding: 0 !important;}
	 .other-menu .fa.fa-globe {	margin-top: 0 !important;padding-top: 0 !important;}
	 .menu-header .navbar {padding: 0;}
	 .top-banner .menu-header {padding-top: 2px !important;padding-bottom: 0 !important;}
	 .top-banner .img-fluid.background-image {display: none;}
	 .collapse.show {padding-bottom: 20px;}
	 .slogan { font-size: 140%; }
	 .carousel-caption {bottom: 20%;}
	/* button.navbar-toggler{background-color:#313131;} */
}

@media (max-width:614px){
	#services .tableDisplay {margin-bottom: 20px;}
	#footer .border-left.border-default {padding-left: 1rem !important;padding-right: 1rem !important;border-left: none !important;}
	.copyright-footer .text-left {margin-bottom: 15px;}
	.carousel-caption {bottom: 0%;line-height: 18px;width: 100%;left: 0;right: 0;top: 0;}
	.slogan { font-size: 90%; }
	.slogan .clearfix{display:none;}
	.slogan ul{padding:0px; margin:0px;}
}

@media (max-width:575px){ 
	.img-box img {width: 100%;height: auto;} 
	.about-content{padding-left:15px !important;}
}